@import '../../scss/vars.scss';
.articleForm {
  width: 938px;
  margin: 60px auto;
  padding: 48px 32px;
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  &__caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $primaryColor;
    margin-bottom: 20px;
  }
  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
  }
  &__input {
    height: 40px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 0 12px;
  }
  &__input-tag {
    width: 300px;
    margin-right: 18px;
  }
  &__textarea {
    padding: 8px 12px;
    resize: none;
    height: 168px;
  }
  &__input-error {
    border: 1px solid #f5222d;
    margin-bottom: 0;
    // width: 100%;
  }
  &__text-error {
    color: #f5222d;
    margin-bottom: 12px;
  }
  &__tagList {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__tag-container {
    display: flex;
    flex-wrap: wrap;
  }
  &__button {
    font-size: 16px;
    line-height: 24px;
    color: #1890ff;
    padding: 8px 40px;
    border: 1px solid #1890ff;
    border-radius: 4px;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
  }
  &__button-delete {
    color: #f5222d;
    border: 1px solid #f5222d;
    display: inline-block;
    margin-right: 18px;
    cursor: pointer;
  }
  &__tags-caption {
    width: 100%;
    margin-bottom: 0;
  }
  &__submit-button {
    background-color: $mainBlue;
    color: white;
    width: 300px;
    margin-top: 6px;
    cursor: pointer;
  }
}
